/* Styling structure */

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Scrolling behaviour styling - when you navigate from section to another */

html {
  scroll-behavior: smooth;
}

/* any container should have these rules */

.container {
  /* max-width: 1100px; */
  margin: auto;
  padding: 0 2rem;

  /* Added these two rules for proper centering */
  width: 100%;
  max-width: 1100px;
}

.fa-solid {
  color: #00adb5;
}

/* Header Styling  */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Added the full width for better responsiveness */
  padding: 20px 5%; /* Changed horizontal padding from 10% to 5% for better responsiveness */
  background: #222831;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  /* text-decoration: none; */
  color: #eeeeee;
}

.home-span,
.about-span,
.skills-span,
.portfolio-span,
.contact-span {
  color: #00adb5;
}

.logo a:hover {
  color: #00adb5;
  transition: 0.3s;
}
.logo a .home-span:hover {
  color: #eeeeee;
  transition: 0.3s;
}

.nav-link,
.logo {
  /* Removed the .logo  */
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap; /* Make the links wrapple */
}

.nav-link a {
  font-weight: 300;
  color: #eeeeee;
}

.nav-link a:hover {
  font-weight: 500;
  color: #00adb5;
  text-decoration: underline;
  transition: 0.3s all ease;
  transform: scale(1.02);
}

/* Hero Section Styling */
.hero-section {
  padding: 60px 5%; /* change horizontal padding from 10% to 5% and the vertical padding from 80px to 60px for better responsiveness */
  background-color: #00acb534;
  width: 100%;
  min-height: 70vh; /* change height property to min-height property and Added width: 100% for better responsiveness */
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px; /* change gap property value to 40px Added max-width: 1100px, and margin: 0 auto for better responsiveness */
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
}
.hero-content h1 {
  /* font-size: 3rem; */
  font-size: clamp(2rem, 4vm, 3rem); /* Make the font size responsive */
  line-height: 1.2;
  margin-bottom: 20px;
  color: #222831;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #222831;
}

.btn-primary,
.btn-secondary {
  display: inline-block; /* Added inline-block displaying  */
  background: #00adb5;
  padding: 12px 25px;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 10px; /* Added margin bottom and center aligning */
  text-align: center;
  color: #eee;
}

.btn-primary:hover,
.btn-secondary:hover {
  transition: all 0.3s ease;
  background: linear-gradient(to left, #00adb5, #222831);
  text-transform: uppercase;
}
/* .hero-image {
  justify-content: center;
  align-content: center;
  align-items: center;
} */
.hero-image img {
  width: 100%; /* Changed width from 60vh, height from 50vh, and added max-width to make it responsive on different screens, as well as chaned the object-fit to from fill to cover  */
  max-width: 450px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

/* .header-content img {
  max-width: 450px;
  border-radius: 50%;
  border: 1px solid white;
}

.header-content .content-text {
  margin-bottom: 5rem;
}

.header-content .content-text .btn-aboutMe:hover {
  transform: scale(1.1);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
} */

/* About Me Section styling */
.about-section {
  padding: 4rem 5%; /* Changed horizontal padding from 5rem to 5% for better responsiveness */
  background-color: #00acb534;
  margin: auto;
}

.about-section h1 {
  text-align: center;
  font-size: 2.5rem;
  /* font-size: clamp(1.8rem, 3vm, 2.5rem); */ /* Make the font size responsive */
  margin-bottom: 3rem;
  text-decoration: underline;
}

.about-section h1 .about-span {
  color: #00adb5;
}

.about-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 2rem; /* Make the gap bigger instead of 1rem , make it 2rem, added max-width and margin properties , also removed justify-content property */
  max-width: 1100px;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
}

.about-img img {
  width: 100%; /* Changed width from 300px, added height and max-width to make it responsive on different screens, awa removed order property */
  max-width: 300px;
  height: auto;
  border-radius: 30px;
  /* order: 10; */
}

.about-text h2 {
  margin-bottom: 1rem;
  color: #222;
  /* font-size: clamp(1.3rem, 2vm, 1.8rem); */ /* Added the font size responsive */
}

.about-text p {
  margin-bottom: 0.8rem;
  font-size: 1.05rem;
  line-height: 1.7;
}

/* Skills Section styling */

.skills-section {
  padding: 4rem 5%; /* Changed horizontal padding from 5rem to 5% for better responsiveness, Added width property */
  width: 100%;
  background-color: #00acb534;
}

.skills-section h1 {
  text-align: center;
  /* font-size: 2.5rem; */
  font-size: clamp(1.8rem, 3vm, 2.5rem); /* Added the font size responsive */
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.skills-section h1 .skills-span {
  color: #00adb5;
}

.skills-text {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem; /* Changed margin bottom value from 1.5 to 2rem */
  max-width: 800px; /* Added the max-width, margin left and right properties responsive */
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.skills-section .skills-content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; /* Added the gap , max-width, margin left and right properties responsive */
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;

  /* align-items: center;
  text-align: center; */
}

.skills-section .skills-content .skills-cards {
  text-align: center; /* Added text align, and removed align content and justify content properties */
  /* align-content: center;
  justify-content: center; */
  /* color: white; */
  color: #393e46;
}

.skills-section .skills-content .skills-cards .item {
  background-color: #00acb587;

  margin: 0 auto; /* changed margin from 20px, and width from 300px, then added padding 1.5rem vertically 1rem horizontally ,max-width intead of width */
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 300px;

  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.skills-section .skills-content .skills-cards .item:hover {
  box-shadow: 5px 5px #365486;
}
.skills-section img {
  width: 100%; /* Added max-width and height , change width value from 150px to 100%*/
  max-width: 150px;
  height: auto;
  object-fit: contain;
  margin-bottom: 1rem;
}

.progress-container {
  width: 100%;
  height: 28px;
  background-color: #e9e9e9;
  border-radius: 15px;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #fff; */
  color: #393e46;
  font-weight: 600;
  /* text-align: center; */ /* remove this property */
  border-radius: 15px;
  transition: width 0.6s ease;
  /* z-index: 9; */ /*remove this property */
}

.progress-bar.high {
  background: #28a745;
}

.progress-bar.mid-high {
  background-color: #71d088;
}

.progress-bar.medium {
  background: #ffc107;
}

.progress-bar.mid-medium {
  background-color: #fd7e14;
}

.progress-bar.low {
  background: #cf2a05;
}

.progress-bar.zero {
  background: #6c757d;

  width: 0% !important;
}

/* Portfolio Section styling */

.portfolio {
  background-color: #00acb534;
  padding: 4rem 5%; /* Changed horizontal padding from 5rem to 5% for better responsiveness, Added width property */
  width: 100%;
}

.portfolio h1 {
  text-align: center;
  font-size: 2.5rem;
  font-size: clamp(1.8rem, 3vm, 2.5rem); /* Added the font size responsive */
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.portfolio-text {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto 40px;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1100px; /* Added max-width and margin */
  margin: 4rem;
  /* justify-content: center;*/ /* remove this property */
  /*align-items: center; */ /* remove this property */
  /*margin-top: 4rem; */ /* remove this property */
}

.portfolio .item {
  background-color: #393e46;
  border-radius: 25px;
  transition: all 0.3s ease;

  height: 100%; /* Added height , display flex, and flex direction */
  display: flex;
  flex-direction: column;
}

.portfolio .item:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px #00adb5;
}

/* Added this rules to .portfolio img */
.portfolio img {
  width: 100%;
  height: auto;
  padding: 0.8rem;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
/* The above block of code is just been created  */

.portfolio .portfolio-cards .item .item-content {
  color: #eee;
  padding: 20px 15px 30px;
  /* align-items: center; */ /* remove this property */
  text-align: center;
  /* Added these rules below */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  /* The above block of code is just been created  */
}

.portfolio .portfolio-cards h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px;
  /* text-align: center; */ /* remove this property */
  color: #eee;
}

.span-portfolio-item {
  background: linear-gradient(to left, #00adb5, #eeeeee24);
}

.portfolio .portfolio-cards p {
  font-size: 1rem; /* Added this property*/
  line-height: 1.7;
  font-weight: 400;
  padding: 0 10px;
  margin-bottom: 15px;
}

/* remove this rule */
/* .portfolio img {
  max-width: 100%;
  padding: 0.8rem;
} */

.btn-portfolio {
  /* remove this line .portfolio .portfolio-cards .item-content .btn-portfolio write this instead */
  background: linear-gradient(to left, #00adb5, #222831);
  color: #fff;
  padding: 8px 30px;
  margin-top: 30px;
  font-size: 14px;
  /* text-align: center; */ /* remove this rule */
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
  /* text-decoration: none; */ /* Add this */
}

.btn-portfolio:hover {
  transform: scale(1.1);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}

/* Portfolio disabled-button styling  */

.btn-portfolio-disabled {
  background: linear-gradient(to left, #00adb5, #222831);
  color: #fff;
  padding: 8px 30px;
  margin-top: 30px;
  font-size: 14px;
  /* text-align: center; */ /* remove this rule */
  border: none;
  border-radius: 10px;
  /* transition: all 0.3s ease; */ /* remove this rule */
  cursor: not-allowed;
  display: inline-block;
  opacity: 0.5; /* Add this */
}

.status-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  color: #fff;
  font-weight: 600;
  /* text-align: center; */ /* remove this rule */
  border-radius: 20px;
  text-transform: uppercase;
  margin-bottom: 1rem; /* Add this rule */
}
.status-bar.completed {
  background-color: #28a745;
}
.status-bar.in-progress {
  background-color: #ffc107;
}
.status-bar.not-started-yet {
  background-color: #dc3545;
}

/* Contact Me Section styling*/

.contact {
  background-color: #00acb534;
  padding: 4rem 5%; /* Changed horizontal padding from 0 to 5% for better responsiveness, Added width property */
  width: 100%;
}

.contact h1 {
  text-align: center;
  /* font-size: 2.5rem; */
  font-size: clamp(1.8rem, 3vm, 2.5rem); /* Added the font size responsive */
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.contact-me-text {
  text-align: center;
  /*max-width: 850px;*/ /* Added max-width */
  margin: 0 auto 40px;
  color: #222831;
  text-align: left;
  /* remove these rules */
  /* text-align: left;
  letter-spacing: normal;
  word-spacing: normal; */
  /*  */
  line-height: 1.5;
  font-size: 1.1rem; /* Add this */
}

/* form{

} */

.bold {
  font-weight: 600;
}

.contact-container {
  width: 100%;
  max-width: 1100px; /* Added max-width, change width value from 1100px to 100 and margin from auto to 0 auto %*/
  margin: 0 auto;
  padding: 0 2rem;
}
.contact .contact-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; /* Changed gap and padding values from 0 2rem, 2rem 3rem to 2rem both of them accordingly */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 15px rgba(63, 78, 79, 0.2); /* Changed the color(#3f4e4f) and spead-radius value from 5px to 15px */
  background-color: white;
  width: 100%; /* Changed the width value from 800px to 100% */
  /* justify-content: center;
  align-content: center;
  align-items: center; */
}

.contact .contact-content input,
select,
textarea {
  display: block;
  width: 100%;
  margin: 15px 0; /* Changed margin and padding values from 20px 12px to 15px 10px accordingly */
  padding: 12px;
  background-color: #aaaaaa1f;
  border: 1px solid #bbb;
  border-radius: 5px;
  outline: none;
  font-size: 1rem; /* Add this */
}

/* input:focus {
  background-color: #e01c1c;
} */

select {
  text-align: center;
}
/* .form-element:focus {
  background-color: #e01c1c;
} */

.btn-contactMe {
  /* remove this line .contact .contact-content .btn-contactMe write this instead */
  background: linear-gradient(to left, #00adb5, #222831);
  color: #fff;
  padding: 12px 30px; /* Changed padding and margin-top values from 8px 30px to 12px 20px accordingly */
  margin-top: 20px;
  font-size: 14px;
  /* text-align: center; */ /* remove this */
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%; /* Add these two rules */
  max-width: 200px;
}

.btn-contactMe:hover {
  transform: scale(1.05); /* Changed the value from 1.1 to 1.05 */
  /* font-weight: 500; */ /* remove this */
  text-transform: uppercase;
  text-decoration: underline;
}

.contact .contact-content img {
  width: 100%;
  height: auto; /* Changed the height from 100% to auto */
  /* align-content: center; */ /* remove this */
  object-fit: contain;
  align-self: center; /* Add this */
}

.flash-message {
  background-color: #28a745;
  color: white;
  margin: 0 auto 20px; /* Changed margin-bottom: 20px to margin: 0 auto 20px */
  text-align: center;
  padding: 0.5rem 1.2rem;
  border-radius: 30px;
  width: fit-content;
  position: sticky;
  left: 50%;
  transform: translateX(
    -50%
  ); /* Changed transform: translate(-50%, -50%) to translateX(-50%) */
  animation: fadeOut 0.5s ease-in-out 5s forwards;
  /* animation-delay: 5s; */ /* remove this */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  /* 50% {
    opacity: 0.5;
    visibility: visible;  //remove this //
  } */
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.checked {
  color: white;
  margin-right: 10px;
}

.contact-error {
  background-color: rgb(
    248,
    215,
    218
  ); /* Changed the color(rgb(206, 200, 200)) and the color: red */
  color: #721c24;
  /* width: fit-content; */ /* remove this */

  padding: 20px;
  border-radius: 5px;
  text-align: left; /* Changed the text alight from center to left */
  margin-bottom: 20px;

  /* Added these rules */
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  /*  */
}

.contact-error li {
  list-style-type: disc;
  margin-left: 20px; /* Add this */
}

.error {
  color: #dc3545; /* Changed the color: red and the margin-top from -15 to -10 */
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 15px;
  display: block; /* Add this */
}

/* Footer Section styling*/

footer {
  background-color: #222831;
  padding: 2rem 5%; /* Changed the padding from 20px 0 */
  text-align: center;
  width: 100%; /* Add this */
}

footer * {
  color: white;
}

.footer-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* Add this */
  justify-content: center;
  margin-top: 1rem; /* Change the value from 10px to 1rem */
}

.footer-links a,
.footer-links p {
  color: rgb(187, 187, 187);
}

.footer-links p i {
  color: #00adb5;
}

.footer-links a:hover {
  font-weight: 500;
  color: #00adb5;
  text-decoration: underline;
  transition: 0.3s all ease;
  transform: scale(1.02);
}

.social-icons {
  font-size: 2rem;
  /* border: none; */ /* remove this */
  margin-top: 1rem; /* Change the value from 10px to 1rem */
}

/* Add this rule */
.social-icons a {
  margin: 0 10px;
}
/*  */

.social-icons i:hover {
  color: #00adb5;
  transition: 0.3s all ease;
  transform: scale(1.1); /* Changed the value from 1.02 to 1.1 */
}

/* Tablets Responsive */

@media (max-width: 768px) {
  /* Navigation and Links Styling */

  /* remove these rules */
  /* .header-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .logo a {
    margin: 0 auto;
  } */

  /* Add these rule */
  .header-container {
    flex-direction: column;
    gap: 15px;
    padding: 15px 5%;
    height: auto;
    /*  */
  }

  .nav-link {
    justify-content: center;
    gap: 15px; /* Add this */
  }

  /* Hero Section Styling */

  /* remove these rules */
  /* .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
  }
  .hero-content h1 {
    font-size: 30px;
  }

  .hero-content p {
    margin-bottom: 20px;
    font-size: 15px;
  } */

  /* Add these rules */
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    /*  */
  }

  .hero-container .hero-image {
    /* align-items: center;
    justify-content: center;
    width: 100%; */

    display: flex;
    /* align-items: center; */ /* remove this */
    justify-content: center;
    /* width: 100%; */ /* remove this */
    margin-top: 0.5rem; /* Add this */
  }
  .hero-container .hero-image img {
    max-width: 300px;
    /* width: 100%; */
    height: auto;
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    /* margin: auto;
    margin-top: 20px; */
    /* object-fit: contain; */
  }
  /* .btn-primary {
    margin-bottom: 10px;
  } */
  /* .header-content {
    grid-template-columns: 1fr;
  }

  .header-content h1 {
    font-size: 40px;
  }

  .header-content img {
    max-width: 280px;
    margin: auto;
  } */

  /* About page  */

  .about-container {
    /* display: flex;
    flex-direction: column;
    width: 100%; */ /* remove these rules */

    /* Add these rules */
    grid-template-columns: 1fr;
    text-align: center;
  }
  /*  */

  .about-section .h1-about-me {
    /* font-size: 30px; */
    font-size: 1.8rem;
  }

  /* Added these rules */
  .about-container .about-img {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  /*  */

  .about-container .about-img img {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
  }

  .about-container .about-text p {
    font-size: 1rem;
    text-align: justify;
    margin-top: 10px;
  }

  /* .about-container .about-img {
    justify-content: center;  // remove these rules //
  } */

  /* .about-container .about-text h2 { // remove these rules //
    // font-size: 25px; //
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  } */

  /* .about-container .about-text p { // remove these rules //
    font-size: 1rem;
    // text-align: center; //
    text-align: justify;

    margin-top: 10px;
    letter-spacing: 1px;
  } */

  /* Skills Page */

  /* .skills-section h1 {
    font-size: 1.8rem;
  } */

  .skills-text {
    /* font-size: 1rem; */
    text-align: justify;
  }

  .skills-section .skills-content {
    /* display: grid; */ /* remove this */
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem; /* Add this */
  }

  /* .skills-section .skills-content .skills-cards .item {
    background-color: #222831;
    margin: 20px;
    padding: 1rem;
    width: 250px;
    border-radius: 10px;
    font-size: 15px;
  }

  .skills-section img {
    width: 150px;
    margin-bottom: 1rem;
  }*/

  .progress-container {
    width: 100%;
    height: 28px;
    border-radius: 15px;
  }

  .progress-bar {
    border-radius: 15px;
  }

  /* Portfolio Page */

  /* .portfolio h1 {
    font-size: 1.8rem;
  } */

  /* .portfolio-text {
    font-size: 1rem;
  } */

  .portfolio-cards {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem; /* changed the value from 0.5rem to 1.5rem */
    width: 100%;
    /* height: 100%; */
    max-width: 600px; /* remove this */
    margin: 0 auto;
  }

  /* .portfolio-cards .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    // min-height: 420px; //
  } */

  /* .portfolio .portfolio-cards h3 {
    font-size: 1.1rem;
    margin: 0 0 10px;
  }
  .portfolio .portfolio-cards .item-content p {
    height: 130px;
    width: 250px;
    line-height: 1.5;
    overflow: hidden;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
  } */

  /* Contact Me Page */

  /* .contact h1 {
    font-size: 1.8rem;
  } */
  /* .contact-me-text {
    font-size: 1rem;
  } */

  .contact-container {
    /* remove this rules */
    /* width: 700px;
    margin: auto; */
    padding: 0 1rem; /* Changed the horizontal value from 2rem 1rem */
  }
  .contact .contact-content {
    /* Add these rules */
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    /* remove these rules */
    /* margin-top: 2rem;
    font-size: 0.9rem; */
    /*  */
  }

  /*  Check this later - Add this rules */
  .contact .contact-content img {
    max-width: 300px;
    margin: 0 auto 2rem;
  }

  .flash-message {
    margin: 0 auto 20px; /* Changed margin-bottom: 20px to margin: 0 auto 20px */

    left: 50%;
    right: 50%;
    transform: translateX(
      -50%
    ); /* Changed transform: translate(-50%, -50%) to translateX(-50%) */

    /* animation-delay: 5s; */ /* remove this */
  }
  /* 
  .flash-message {
    width: 90%;
    max-width: 528px;
    margin: 0 auto 0 50%;
    text-align: center;
  } */
}

/* Mobile Responsive */

@media (max-width: 528px) {
  /* Header Styling  */
  .nav-link {
    gap: 10px;
    font-size: 0.9rem;
  }
  /* .header-container {
    flex-wrap: nowrap;
    text-wrap: nowrap;
  } */

  /* Hero Section Styling */

  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-container .hero-image {
    display: flex;
    /* align-items: center; */ /* remove this */
    justify-content: center;
    /* width: 100%; */ /* remove this */
    margin-top: 0.5rem; /* Add this */
  }
  .hero-container .hero-image img {
    max-width: 250px;
    /* width: 100%; */
    height: auto;
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    /* margin: auto;
    margin-top: 20px; */
    /* object-fit: contain; */
  }
  /* .hero-content h1 {
    font-size: 22px;
  } */

  /* .hero-content p {
    font-size: 15px;
  } */

  /* .hero-container .hero-image img {
    max-width: 200px;
    justify-content: center;
    align-items: center;
  } */
  /* .btn-primary {
    font-size: 15px;
  } */

  /* About page  */

  .about-container {
    /* Add these rules */
    grid-template-columns: 1fr;
    text-align: center;
  }
  /*  */

  .about-section .h1-about-me {
    /* font-size: 30px; */
    font-size: 1.5rem;
  }

  /* Added these rules */
  .about-container .about-img {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
  }
  /*  */

  .about-container .about-text p {
    font-size: 0.9rem;
    text-align: justify;
    margin-top: 10px;
  }

  /*
  .about-section .h1-about-me {
    
    font-size: 1.5rem; // font-size: 30px; //
  }*/

  /* .about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  } */

  /* .about-container .about-img img {
    justify-content: center;
    max-width: 200px;
  } */

  /* .about-container .about-text h2 {
    // font-size: 25px; //
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
  } */

  /* .about-container .about-text p {
    font-size: 0.9rem;
    // text-align: center; //
    text-align: justify;
    letter-spacing: normal;
    word-spacing: normal;
    margin-top: 10px;
    // letter-spacing: 1px; //
  } */

  /* Skills Page */

  .skills-section h1 {
    font-size: 1.5rem;
  }

  .skills-text {
    font-size: 0.9rem;
    text-align: justify;
    letter-spacing: normal;
    word-spacing: normal;
  }

  .skills-section .skills-content {
    grid-template-columns: 1fr;
  }

  .skills-section .skills-content .skills-cards .item {
    /* background-color: #222831; */
    margin: 20px;
    padding: 1.5rem 1rem;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 15px;
  }

  /* .skills-section img {
    width: 150px;
    margin-bottom: 1rem;
  } */

  /* .progress-container {
    width: 100%;
    height: 28px;
    border-radius: 15px;
  } */

  /* Portfolio Page */

  .portfolio h1 {
    font-size: 1.5rem;
  }

  .portfolio-text {
    font-size: 1rem;
    text-align: justify;
  }

  .portfolio-cards {
    grid-template-columns: 1fr;
  }

  .portfolio .portfolio-cards .item-content {
    gap: 10px;
  }

  /* Added this rules to .portfolio img */
  .portfolio img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
  /* The above block of code is just been created  */

  .portfolio .portfolio-cards p {
    font-size: 0.9rem; /* Added this property*/
  }

  .status-bar {
    margin-bottom: 10px; /* Add this rule */
  }

  .btn-portfolio,
  .btn-portfolio-disabled {
    margin-top: 10px;
  }

  /* .portfolio-cards .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    // min-height: 420px; //
  } */

  /* .portfolio .portfolio-cards h3 {
    font-size: 1rem;
    margin: 0 0 10px;
  } */

  /* .portfolio .portfolio-cards .item-content p {
    font-size: 0.9rem;
    height: 100px;
    width: 295px;
    line-height: 1.5;
    overflow: hidden;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
  } */

  /* .portfolio-cards .item img {
    width: 200px;
  } */

  /* Contact Me Page */

  .contact h1 {
    font-size: 1.5rem;
  }
  .contact-me-text {
    font-size: 0.9rem;
    text-align: justify;
  }

  .contact-container {
    /* remove this rules */
    /* width: 700px;
    margin: auto; */
    padding: 0 1rem; /* Changed the horizontal value from 2rem 1rem */
  }
  .contact .contact-content {
    /* Add these rules */
    grid-template-columns: repeat(1, 1fr);
    padding: 1.5rem;
    /* remove these rules */
    /* margin-top: 2rem;
    font-size: 0.9rem; */
    /*  */
  }

  /* .contact-container {
    width: 400px;
    margin: auto;
    padding: 0 2rem;
  } */
  /* .contact .contact-content {
    margin-top: 2rem;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr;
  } */

  .contact-content img {
    display: none;
  }

  .flash-message {
    width: 90%;
    max-width: 528px;
    margin: 0 auto 0 50%;
    text-align: center;
  }
}
