/* Styling structure */

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Scrolling behaviour styling - when you navigate from section to another */

html {
  scroll-behavior: smooth;
}

/* any container should have these rules */

.container {
  /* max-width: 1100px; */
  margin: auto;
  padding: 0 2rem;
}

.fa-solid {
  color: #00adb5;
}

/* Header Styling  */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #222831;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #eeeeee;
}

.home-span,
.about-span,
.skills-span,
.portfolio-span,
.contact-span {
  color: #00adb5;
}

.logo a:hover {
  color: #00adb5;
  transition: 0.3s;
}
.logo a .home-span:hover {
  color: #eeeeee;
  transition: 0.3s;
}

.nav-link,
.logo {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link a {
  font-weight: 300;
  color: #eeeeee;
}

.nav-link a:hover {
  font-weight: 500;
  color: #00adb5;
  text-decoration: underline;
  transition: 0.3s all ease;
  transform: scale(1.02);
}

/* Hero Section Styling */
.hero-section {
  padding: 80px 10%;
  background-color: #00acb534;
  height: 70vh;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}
.hero-content h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #222831;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #222831;
}

.btn-primary,
.btn-secondary {
  background: #00adb5;
  padding: 12px 25px;
  border-radius: 5px;
  margin-right: 15px;
  color: #eee;
}

.btn-primary:hover,
.btn-secondary:hover {
  transition: all 0.3s ease;
  background: linear-gradient(to left, #00adb5, #222831);
  text-transform: uppercase;
}

.hero-image img {
  width: 60vh;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  object-fit: fill;
}

/* .header-content img {
  max-width: 450px;
  border-radius: 50%;
  border: 1px solid white;
}

.header-content .content-text {
  margin-bottom: 5rem;
}

.header-content .content-text .btn-aboutMe:hover {
  transform: scale(1.1);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
} */

/* About Me Section styling */
.about-section {
  padding: 4rem 5rem;
  background-color: #00acb534;
  margin: auto;
}

.about-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.about-section h1 .about-span {
  color: #00adb5;
}

.about-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 300px;
  border-radius: 30px;
  order: 10;
}

.about-text h2 {
  margin-bottom: 1rem;
  color: #222;
}

.about-text p {
  margin-bottom: 0.8rem;
  font-size: 1.05rem;
  line-height: 1.7;
}

/* Skills Section styling */

.skills-section {
  padding: 4rem 5rem;
  background-color: #00acb534;
}

.skills-section .skills-content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}

.skills-section .skills-content .skills-cards {
  align-content: center;
  justify-content: center;
  color: white;
}

.skills-section .skills-content .skills-cards .item {
  background-color: #222831;
  margin: 20px;
  padding: 1rem;
  width: 300px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.skills-section .skills-content .skills-cards .item:hover {
  box-shadow: 5px 5px #00adb5;
}
.skills-section img {
  width: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.skills-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.skills-section h1 .skills-span {
  color: #00adb5;
}

.skills-text {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 28px;
  background-color: #e9e9e9;
  border-radius: 15px;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 15px;
  transition: width 0.6s ease;
  z-index: 9;
}

.progress-bar.high {
  background: #28a745;
}

.progress-bar.mid-high {
  background-color: #71d088;
}

.progress-bar.medium {
  background: #ffc107;
}

.progress-bar.mid-medium {
  background-color: #fd7e14;
}

.progress-bar.low {
  background: #cf2a05;
}

.progress-bar.zero {
  background: #6c757d;

  width: 0% !important;
}

/* Portfolio Section styling */

.portfolio {
  background-color: #00acb534;
  padding: 4rem 5rem;
}

.portfolio h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.portfolio-text {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto 40px;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.portfolio .item {
  background-color: #393e46;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.portfolio .item:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px #00adb5;
}

.portfolio .portfolio-cards .item .item-content {
  color: #eee;
  padding: 20px 15px 30px;
  align-items: center;
  text-align: center;
}

.portfolio .portfolio-cards h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px;
  text-align: center;
  color: #eee;
}

.span-portfolio-item {
  background: linear-gradient(to left, #00adb5, #eeeeee24);
}

.portfolio .portfolio-cards p {
  line-height: 1.7;
  font-weight: 400;
  padding: 0 10px;
  margin-bottom: 15px;
}

.portfolio img {
  max-width: 100%;
  padding: 0.8rem;
}

.portfolio .portfolio-cards .item-content .btn-portfolio {
  background: linear-gradient(to left, #00adb5, #222831);
  color: #fff;
  padding: 8px 30px;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
}

.btn-portfolio:hover {
  transform: scale(1.1);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}

/* Portfolio disabled-button styling  */

.btn-portfolio-disabled {
  background: linear-gradient(to right, #eeeeee, #393e46);
  color: #fff;
  padding: 8px 30px;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: not-allowed;
  display: inline-block;
}

.status-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
}
.status-bar.completed {
  background-color: #28a745;
}
.status-bar.in-progress {
  background-color: #ffc107;
}
.status-bar.not-started-yet {
  background-color: #dc3545;
}

/* Contact Me Section styling*/

.contact {
  padding: 4rem 0;
}

.contact h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.contact-me-text {
  text-align: center;
  margin: 0 auto 40px;
  color: #222831;
}
.contact .contact-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 2rem;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #3f4e4f;
}

.contact .contact-content input,
textarea {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background-color: #aaaaaa1f;
  border: 1px solid #bbb;
  border-radius: 5px;
  outline: none;
}

.contact .contact-content .btn-contactMe {
  background: linear-gradient(to left, #00adb5, #222831);
  color: #fff;
  padding: 8px 30px;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-contactMe:hover {
  transform: scale(1.1);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
}

.contact .contact-content img {
  width: 100%;
  height: 100%;
  align-content: center;
  object-fit: contain;
}

.flash-message {
  background-color: #28a745;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  padding: 0.5rem 1.2rem;
  border-radius: 30px;
  width: fit-content;
  position: sticky;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOut 0.5s ease-in-out 5s forwards;
  animation-delay: 5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.checked {
  color: white;
  margin-right: 10px;
}

.contact-error {
  background-color: rgb(206, 200, 200);
  color: red;
  padding: 30px 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  list-style-type: circle;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: -15px;
  margin-bottom: 15px;
}

/* Footer Section styling*/

footer {
  background-color: #222831;
  padding: 20px 0;
  text-align: center;
}

footer * {
  color: white;
}

.footer-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.footer-links a,
.footer-links p {
  color: rgb(187, 187, 187);
}

.footer-links p i {
  color: #00adb5;
}

.footer-links a:hover {
  font-weight: 500;
  color: #00adb5;
  text-decoration: underline;
  transition: 0.3s all ease;
  transform: scale(1.02);
}

.social-icons {
  font-size: 2rem;
  border: none;
  margin-top: 10px;
}

.social-icons i:hover {
  color: #00adb5;
  transition: 0.3s all ease;
  transform: scale(1.02);
}

/* Tablets Responsive */

@media (max-width: 768px) {
  /* Navigation and Links Styling */
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .logo a {
    margin: 0 auto;
  }

  .nav-link {
    justify-content: center;
  }

  /* Hero Section Styling */

  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
  }
  .hero-content h1 {
    font-size: 30px;
  }

  .hero-content p {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .hero-container .hero-image {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .hero-container .hero-image img {
    max-width: 300px;
    /* width: 100%; */
    height: 180px;
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    margin: auto;
    margin-top: 10px;
    /* object-fit: contain; */
  }
  .btn-primary {
    width: fit-content;
    margin-bottom: 10px;
  }
  /* .header-content {
    grid-template-columns: 1fr;
  }

  .header-content h1 {
    font-size: 40px;
  }

  .header-content img {
    max-width: 280px;
    margin: auto;
  } */

  /* About page  */

  .about-section .h1-about-me {
    /* font-size: 30px; */
    font-size: 1.8rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-container .about-img {
    justify-content: center;
  }

  .about-container .about-text h2 {
    /* font-size: 25px; */
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  }

  .about-container .about-text p {
    font-size: 1rem;
    /* text-align: center; */
    text-align: justify;

    margin-top: 10px;
    letter-spacing: 1px;
  }

  /* Skills Page */

  .skills-section h1 {
    font-size: 1.8rem;
  }

  .skills-text {
    font-size: 1rem;
    text-align: justify;
  }

  .skills-section .skills-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-section .skills-content .skills-cards .item {
    background-color: #222831;
    margin: 20px;
    padding: 1rem;
    width: 250px;
    border-radius: 10px;
    font-size: 15px;
  }

  .skills-section img {
    width: 150px;
    margin-bottom: 1rem;
  }

  .progress-container {
    width: 100%;
    height: 28px;
    border-radius: 15px;
  }

  /* Portfolio Page */

  .portfolio h1 {
    font-size: 1.8rem;
  }

  .portfolio-text {
    font-size: 1rem;
  }

  .portfolio-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .portfolio-cards .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* min-height: 420px; */
  }

  .portfolio .portfolio-cards h3 {
    font-size: 1.3rem;
    margin: 0 0 10px;
  }
  .portfolio .portfolio-cards .item-content p {
    height: 120px;
    width: 100%;
    line-height: 1.5;
    overflow: hidden;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
  }
}
