/* Styling structure */

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Scrolling behaviour styling - when you navigate from section to another */

html {
  scroll-behavior: smooth;
}

/* any container should have these rules */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.fa-solid {
  color: #00adb5;
}

/* Header Styling  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #222831;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #eeeeee;
}

.span {
  color: #00adb5;
}

.logo a:hover {
  color: #00adb5;
  transition: 0.3s;
}
.logo a .span:hover {
  color: #eeeeee;
  transition: 0.3s;
}

.nav-link {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link a {
  font-weight: 300;
  color: #eeeeee;
}

.nav-link a:hover {
  font-weight: 500;
  color: #00adb5;
  text-decoration: underline;
  transition: 0.3s all ease;
  transform: scale(1.02);
}

/* Footer Section styling*/

footer {
  background-color: #222831;
  padding: 20px 0;
  text-align: center;
}

footer * {
  color: white;
}

.footer-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.footer-links a,
.footer-links p {
  color: rgb(187, 187, 187);
}

.footer-links p i {
  color: #00adb5;
}

.footer-links a:hover {
  font-weight: 500;
  color: #00adb5;
  text-decoration: underline;
  transition: 0.3s all ease;
  transform: scale(1.02);
}

.social-icons {
  font-size: 2rem;
  border: none;
  margin-top: 10px;
}

.social-icons i:hover {
  color: #00adb5;
  transition: 0.3s all ease;
  transform: scale(1.02);
}
