<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <!-- Fonts -->
    <!-- An external font (Poppins font) for the website -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Icons -->
    <!-- A link to generate icons for the website -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navigation Links Section -->
    <header id="home">
      <div class="header-container">
        <div class="logo">
          <a href="{{ url_for('home')}}"
            >My<span class="home-span">Design</span></a
          >
        </div>
        <div class="nav-bar">
          <nav>
            <ul class="nav-link">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li><a href="{{ url_for('skills') }}">Skills</a></li>
              <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
              <li><a href="{{ url_for('contact') }}">Contact Me</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- Page Content - every page will put its own content here -->
    <main>
      {% block content %}
      <!-- This part changes for each page -->
      {% endblock %}
    </main>
    <!-- Footer -->
    <footer>
      <div class="container">
        <p>&copy; 2026 MyDesign Company | All rights reserved</p>
        <div class="social-icons">
          <a href="https://youtube.com" aria-label="Youtube Website"
            ><i class="fa-brands fa-youtube you-red"></i
          ></a>
          <a href="https://linkedin.com" aria-label="LinkedIN Website"
            ><i class="fa-brands fa-linkedin link-blue"></i
          ></a>
          <a href="https://x.com" aria-label="X Website "
            ><i class="fa-brands fa-twitter x-black"></i
          ></a>
          <a href="https://github.com" aria-label="GitHub Website"
            ><i class="fa-brands fa-github git-black"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
