{% extends "base.html" %} {% block content %}<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-container">
    <div class="hero-content">
      <h1>
        <span class="span">B</span>uilding <span class="span">Y</span>our
        <span class="span">W</span>ebsite with a <span class="span">B</span>est
        <span class="span">D</span>esign <span class="span">C</span>ompany
      </h1>
      <p>
        Create stunning web experience with clean layouts and modern technology.
        Our platform helps you scale faster than ever.
      </p>
      <a href="{{ url_for('about') }}" class="btn-primary"
        >Learn More about Me</a
      >
    </div>
    <div class="hero-image">
      <img
        src="{{ url_for('static', filename='images/Me-Profile-small.png')}}"
        alt="A profile image"
        class="hero-image-profile"
      />
    </div>
  </div>
</section>
{% endblock %}
